<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.iisbelluzzifioravanti.app.bfconnect">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.iisbelluzzifioravanti.app.bfconnect.activities.Start"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.iisbelluzzifioravanti.app.bfconnect.activities.Prenotation"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/ic_bf_connect_horizontal_white"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name="org.iisbelluzzifioravanti.app.bfconnect.activities.School"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/ic_bf_connect_horizontal_white"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name="org.iisbelluzzifioravanti.app.bfconnect.activities.Rooms"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/ic_bf_connect_horizontal_white"
            android:label=""
            android:parentActivityName="org.iisbelluzzifioravanti.app.bfconnect.activities.Home"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.iisbelluzzifioravanti.app.bfconnect.activities.Home"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/ic_bf_connect_horizontal_white"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name="org.iisbelluzzifioravanti.app.bfconnect.activities.Tecnico"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/ic_bf_connect_horizontal_white"
            android:label=""
            android:parentActivityName="org.iisbelluzzifioravanti.app.bfconnect.activities.School"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.iisbelluzzifioravanti.app.bfconnect.activities.Professionale"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/ic_bf_connect_horizontal_white"
            android:label=""
            android:parentActivityName="org.iisbelluzzifioravanti.app.bfconnect.activities.School"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.iisbelluzzifioravanti.app.bfconnect.activities.QrCode"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/ic_bf_connect_horizontal_white"
            android:label=""
            android:parentActivityName="org.iisbelluzzifioravanti.app.bfconnect.activities.Home"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.iisbelluzzifioravanti.app.bfconnect.activities.Loading"
            android:configChanges="keyboardHidden|orientation"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name="org.iisbelluzzifioravanti.app.bfconnect.activities.threeDots.Hrileva"
            android:configChanges="keyboardHidden|orientation"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name="org.iisbelluzzifioravanti.app.bfconnect.activities.threeDots.Help"
            android:configChanges="keyboardHidden|orientation"
            android:label=""
            android:parentActivityName="org.iisbelluzzifioravanti.app.bfconnect.activities.Home"
            android:screenOrientation="portrait" />
        <activity android:name="org.iisbelluzzifioravanti.app.bfconnect.activities.threeDots.MyRooms"
            android:configChanges="keyboardHidden|orientation"
            android:label=""
            android:parentActivityName="org.iisbelluzzifioravanti.app.bfconnect.activities.Home"
            android:screenOrientation="portrait" />
    </application>

</manifest>