<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.altervista.edoardo.bfconnect">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.Start"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Prenotation"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.School"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Rooms"
            android:configChanges="keyboardHidden|orientation"
            android:label="activity_rooms"
            android:parentActivityName=".activities.Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Home"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.Tecnico"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.School"/>
        <activity android:name=".activities.Professionale"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.School"/>
        <activity android:name=".activities.QrCode"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
    </application>

</manifest>