{% load staticfiles %}
<html>
<head>
  <title>DASHBOARD</title>
  <style>
    h3.error{
      color:red;
    }
    h3{
      color: blue;
    }
    h1{
      font-weight: bold;
    }
    #primo{
      position: absolute;
      width: 50%;
      height: 50%;
      left: 0%;
    }
    #terzo{
      position: absolute;
      width: 50%;
      height: 50%;
      left: 0%;
      top: 50%;
    }
    #secondo{
      position: absolute;
      width: 40%;
      height: 50%;
      right: 0%;
    }
    #quarto{
      position: absolute;
      width: 40%;
      height: 50%;
      top:50%;
      right: 0%;
    }
    #title{
      text-align: center;
    }
  </style>
 <script src="http://code.jquery.com/jquery-1.6.4.min.js" type="text/javascript"></script>
 <script src="{% static 'js/chart.js/dist/Chart.js' %}"></script>
</head>
<body onload="updateGraphs()">
  <div id="title"><h1>SERVER DASHBOARD</div>
  <div id="primo">
    <canvas id="numberE" width="100%" height="30%"></canvas>
  </div>
  <div id="secondo">
    <h3 class = "error" id = "e">Errori: </h3>
    <h3 id = "r"> Risposte: </h3>
    <h3 id = "m"> Tempo medio di risposta: </h3>
  </div>
  <div id="terzo">
    <canvas id="dataPdf" width="100%" height="30%"></canvas>
  </div>
  <div id="quarto">
    <canvas id="dataRoom" width="100%" height="45%"></canvas>
  </div>
  <script type="text/javascript">
    var requestTime = {{ statistic.middleTimeOfResponse }};
    var error = {{ statistic.errors }};
    var response = {{ statistic.responses }};
    var responses = {{responses}};
    var errors = {{errors}};
    var pdfs = {{ statistic.pdf }};
    var rooms = {{ statistic.rooms }};
    function updateGraphs() {
        setTimeout('location.reload()',30000);
        document.getElementById("m").innerHTML += requestTime;
        document.getElementById("e").innerHTML += error;
        document.getElementById("r").innerHTML += response;
        var ctx = document.getElementById("numberE");
        var myChart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: {{ label }} ,
                datasets: [{
                    type: 'bar',
                    label: "Error responses",
                    data: errors,
                    borderColor:'rgba(255, 0, 0, 1)',
                    borderWidth: 3
                },{
                  type: 'line',
                  label: 'OK Responses',
                  data: responses,
                  borderColor:'rgba(0, 0, 255, 1)',
                  borderWidth: 3
                }]
            },options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        var ctr = document.getElementById("dataPdf");
        var myChart = new Chart(ctr, {
            type: "bar",
            data: {
                labels: ["informatica","meccanica","chimica","elettronica","serale", "qualifiche", "manutenzione","apparati","mezzi", "alternanza",1,2,3,4,5,6,7,8,9],
                datasets: [{
                    type: 'bar',
                    label: "pdf",
                    data: pdfs,
                    borderColor:'rgba(0, 0, 255, 1)',
                    borderWidth: 3
                }]
            },options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        var ctm = document.getElementById("dataRoom");
        var myChart = new Chart(ctm, {
            type: "bar",
            data: {
                labels: ['pagina di benvenuto','elettronica1', 'elettronica2', 'elettronica3','chimica1', 'chimica2','chimica3','chimica4','mappa1','mappa2','mappa1 n2', 'mappa2 n2','tps', 'informatica', 'sistemi', 'fisica', 'meccanica1', 'meccanica2', 'meccanica3', 'meccanica4'],
                datasets: [{
                    type: 'bar',
                    label: "pagine dei laboratori",
                    data: rooms,
                    borderColor:'rgba(0, 0, 255, 1)',
                    borderWidth: 3
                }]
            },options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    }

  </script>
</body>
<html>
